body {
	width: 300px;
}

h1 {
	color: #088;
}

div.floatContainer {
	overflow: auto;
	width: 100%;
}

#logo {
	float: left;
}

#pluginVersion {
	color: #A0C0C0;
	font-size: 16px;
	font-weight: normal;
}
