#meta-frame {
	left: 0 !important;
	top: 0 !important;
	width: 494px !important;
	height: 299px !important;
}

#playback {
	left: 0 !important;
	top: 299px !important;
	z-index: 100 !important;
}

#chat {
	left: 494px !important;
}

#user-container {
	left: 0 !important;
	top: 750px !important;
}

#footer-container {
	left: 0 !important;
	top: 832px !important;
}

#media-overlay {
	left: 0 !important;
	width: 920px !important;
	margin: 0px auto !important;
	position: relative !important;
}

#media-panel, #media-panel-header, div.media-list {
	width: 663px !important;
}

#button-playlist-import {
	left: 656px !important;
}

#button-playlist-help {
	left: 745px !important;
}

div.actions {
	left: 473px !important;
}

#avatar-overlay, #lobby-overlay, #user-list-overlay {
	left: 0 !important;
	margin: 0px auto !important;
	position: relative !important;
}

#chat-mention-suggestion {
	margin-left: -320px;
}

#dj-booth {
	left: 0 !important;
	top: 590px !important;
}

#audience {
	left: 0 !important;
}